.gallery__video-time-container {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 28px;
  top: 8px;
  width: 51px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
}
